/*----------------------------------------------------------------------------
  Anchor Tags
----------------------------------------------------------------------------*/








/*----------------------------------------------------------------------------
  General
----------------------------------------------------------------------------*/

html {
  font-size: 14px;
 }


body {
  color: $black80;
  font-family: $font1;
  font-weight: 300;
}



/*----------------------------------------------------------------------------
  Headings
----------------------------------------------------------------------------*/





/*----------------------------------------------------------------------------
  List Items
----------------------------------------------------------------------------*/




/*----------------------------------------------------------------------------
  Paragraphs
----------------------------------------------------------------------------*/





/*----------------------------------------------------------------------------
  Sections
----------------------------------------------------------------------------*/




/*----------------------------------------------------------------------------
  Span
----------------------------------------------------------------------------*/
