/*----------------------------------------------------------------------------
  Colors
----------------------------------------------------------------------------*/

$black80: #3a3535;
$black90: #231F20;
$blue60: #1e3795;
$gray10: #e9e9e9;
$gray50: #666766;
$green60: #1a8135;
$red60: #c91111;


/*----------------------------------------------------------------------------
  Fonts
----------------------------------------------------------------------------*/

// LATO
//    100 Thin
//    300 Light
//    400 Normal (aka Regular)
//    700 Bold

$font1: 'Lato', sans-serif;
$font2: 'Arial', sans-serif;



/*----------------------------------------------------------------------------
  Animations
----------------------------------------------------------------------------*/

$animate: 0.2s;